version: "3.9"


services:
  app:
    build: .
    image: catalog-php:latest
    restart: unless-stopped
    environment:
      APP_ENV: production
      APP_DEBUG: "false"
      APP_URL: http://localhost
      APP_KEY: ${APP_KEY}
    # DB
      DB_CONNECTION: pgsql
      DB_HOST: db
      DB_PORT: 5432
      DB_DATABASE: laravel
      DB_USERNAME: sail
      DB_PASSWORD: password
      # Cache
      CACHE_STORE: redis
      SESSION_DRIVER: redis
      QUEUE_CONNECTION: sync
      # Migration/import autostart (optional)
      RUN_MIGRATIONS: "true"
      IMPORT_DIR: storage/app/data
    volumes:
      - ./:/var/www/html
    depends_on:
      - db


  web:
    image: nginx:alpine
    restart: unless-stopped
    ports:
      - "80:80"
    volumes:
      - ./:/var/www/html:ro
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - app


  db:
    image: postgres:16-alpine
    restart: unless-stopped
    environment:
      POSTGRES_DB: laravel
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "postgres"]
      interval: 10s
      timeout: 5s
      retries: 5


volumes:
  pgdata:
